<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Opal Playground</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <%= javascript_include_tag @server.main %>
  </head>
  <body data-view="Space">
    <div data-view="Palette" data-docking-side="left" style="width: 15em"></div>
    <div class="d-flex flex-column w-100">
      <div data-view="Sheet"></div>
      <div data-view="ConstraintEditor" data-docking-side="bottom" style="height: 10em"></div>
    </div>
    <div data-view="Inspector" data-docking-side="right" style="width: 15em"></div>
  </body>
</html>
